[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        fixme,
        global-statement,
        import-error,
        invalid-name,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        R,
        unspecified-encoding,

[FORMAT]
max-line-length=115
